
.editor-styles-wrapper .wp-block-ocade-blocks-glossaire > div {
  position: relative;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}


@keyframes highlightSection {
  0%, 100% {
    background-color: var(--wp--preset--color--violet-clair);
  }
  50% {
    background-color: white;
  }
}

.page-id-1784 main {
  padding: 0;
}


#glossaire-wrapper {
	margin: 0 auto; 
	padding: 0;
	box-shadow: 0 2px 6px var(--wp--preset--color--violet-clair);
}
@media(min-width: 768px) {
  #glossaire-wrapper {
    margin: 2rem auto;
  }
}

#glossaire-wrapper form {
  position: sticky;
  top: 3.7rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--wp--preset--color--violet-clair);
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1); /* ombre subtile en bas uniquement */
}
@media(min-width: 768px) {
  #glossaire-wrapper form {
    padding: 2rem;
  }
}

#glossaire-wrapper form p {
  color: var(--wp--preset--color--nuit);
  font-weight: 600;
  font-size: 1.1rem;
}

#glossaire-wrapper form input {
  width: 100%;
  padding: 0.75rem 1rem;
  color: var(--wp--preset--color--violet);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.2s, box-shadow 0.2s;
}

#glossaire-wrapper form input:focus {
  border-color: var(--wp--preset--color--violet-clair);
  outline-color: var(--wp--preset--color--violet-clair);
  box-shadow: 0 0 0 3px var(--wp--preset--color--violet);
}

#glossaire-wrapper section:target {
  scroll-margin-top: 200px;
  background-color: var(--wp--preset--color--violet-clair);
  border-left: 4px solid var(--wp--preset--color--violet);
  animation: highlightSection 0.4s ease-in-out 0s 4;
}


#glossaire-wrapper section:target dl {
  border: none;
}

.wp-block-ocade-blocks-glossaire dl {
  margin: 0;
  padding: 0.5rem;
}

#glossaire-wrapper section:nth-of-type(even) dl {
  background-color: #f9f9f9;
}

.wp-block-ocade-blocks-glossaire dt {
  color: var(--wp--preset--color--violet);
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.wp-block-ocade-blocks-glossaire dt::before {
  content: "ⵌ";
  display: inline-block;
	margin-right: .25rem;
  text-transform: none;
}

.wp-block-ocade-blocks-glossaire dd {
  margin-left: 0;
}