.editor-styles-wrapper .wp-block-ocade-blocks-glossaire > div {
  position: relative;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.wp-block-ocade-blocks-glossaire dl {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.wp-block-ocade-blocks-glossaire dt {
  font-weight: bold;
  font-size: 1.2rem;
}

.wp-block-ocade-blocks-glossaire dt::before {
  content: "ⵌ";
  display: inline-block;
	margin-right: .25rem;
  text-transform: capitalize;
}

.wp-block-ocade-blocks-glossaire dd {
  margin-left: 0;
}

#glossaire-wrapper form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 auto 1rem auto;
  padding: 0.5rem 1rem 1rem 1rem;
  background-color: var(--wp--preset--color--violet-clair);
  border-radius: 8px;
  box-shadow: 0 2px 6px var(--wp--preset--color--violet-clair);
}

#glossaire-wrapper form p {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--wp--preset--color--nuit);
}

#glossaire-wrapper form input {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.2s, box-shadow 0.2s;
  color: var(--wp--preset--color--violet);
}

#glossaire-wrapper form input:focus {
  border-color: var(--wp--preset--color--violet-clair);
  box-shadow: 0 0 0 3px var(--wp--preset--color--violet);
  outline-color: var(--wp--preset--color--violet-clair);
}