.editor-styles-wrapper .wp-block-ocade-blocks-glossaire > div {
  position: relative;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.wp-block-ocade-blocks-glossaire div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.wp-block-ocade-blocks-glossaire dt {
  font-weight: bold;
  font-size: 1.2rem;
}

.wp-block-ocade-blocks-glossaire dt::before {
  content: "ⵌ";
  display: inline-block;
	margin-right: .25rem;
}

.wp-block-ocade-blocks-glossaire dd {
  margin-left: 0;
}