@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px)
  }

  to {
    opacity: 1;
    transform: translateY(0)
  }
}

.editor-styles-wrapper .wp-block-ocade-blocks-qcm {
  min-width: 600px;
  max-width: 100%;
  padding: 1rem;
  background-color: var(--wp--preset--color--gris);
  border-radius: 4px
}

.editor-styles-wrapper .wp-block-ocade-blocks-qcm::after {
  display: none;
}

.wp-block-ocade-blocks-qcm {
  --success: #009860;
  --error: #cf2e2e;
  overflow: hidden;
  position: relative;
  max-width: max-content;
  min-width: 300px;
  margin: 2rem auto;
  padding: 3rem 1rem;
  background: var(--wp--preset--color--gris-clair);
  border-radius: 5rem 1rem 5rem 5rem;
  border-bottom: 2px solid var(--wp--preset--color--violet);
  box-shadow: 0 4px 25px rgba(0, 0, 0, .05)
}

@media (min-width: 1280px) {
  .wp-block-ocade-blocks-qcm {
    padding: 3rem;
  }
}

.wp-block-ocade-blocks-qcm::after {
  content: "Testez vos connaissances !";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 1rem;
  color: white;
  background: var(--wp--preset--color--violet);
  font-size: 0.875rem;
  font-weight: 600;
  border-bottom-left-radius: 1rem;
  animation: fadeIn 0.5 ease;
}

.wp-block-ocade-blocks-qcm[data-success="true"]::after {
  content: "Bravo !" !important;
  background: var(--success);
}

.wp-block-ocade-blocks-qcm[data-success="false"]::after {
  content: "Dommage !" !important;
  background: var(--error);
}

.wp-block-ocade-blocks-qcm>p strong {
  font-size: 1.2rem;
}

.qcm-options {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1.2rem;
}

.qcm-option {
  display: flex !important;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem;
  background: white;
  font-size: 1rem;
  font-weight: 400;
  border: 2px solid transparent;
  border-radius: 0.75rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
}

.qcm-option:hover {
  background: var(--wp--preset--color--violet--clair);
  border-color: var(--wp--preset--color--violet);
}

.qcm-option[data-checked="true"] input {
  background-color: white;
}

.qcm-option input[type="radio"] {
  appearance: none;
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid #ccc;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  margin: 0;
}

.qcm-option:hover input[type="radio"]::after {
  content: "";
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  background: var(--wp--preset--color--violet);
  border-radius: 50%;
}

.wp-block-ocade-blocks-qcm[data-checked="true"] .qcm-option {
  pointer-events: none;
}

.wp-block-ocade-blocks-qcm[data-checked="true"] .qcm-option {
  background-color: var(--wp--preset--color--nuit);
  color: white;
}

.wp-block-ocade-blocks-qcm[data-checked="true"] .bonne-reponse {
  background-color: var(--success);
}

.wp-block-ocade-blocks-qcm[data-checked="true"] input[type="radio"] {
  outline: none;
}

.wp-block-ocade-blocks-qcm[data-checked="true"] .qcm-option:hover input::after {
  background-color: transparent;
  transition: background-color 0.4s ease;
  cursor: default;
}